* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #514949;
    font-family: 'Graphik', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fffdf5 !important;
}

:root {
    --red: #e7332b;
}

.my-container {
    width: 90%;
    margin: 0 auto;
}

.red-btn {
    background-color: var(--red);
    color: #fff;
    border: 1px solid var(--red);
}

.thumbs {
    width: 4em;
    top: -0.8em;
    left: -1em;
    z-index: 1;
    padding: 0.5rem;
}

.enroll {
    z-index: -1;
    padding-left: 3rem;
}

.mobile {
    display: none;
}

.text-red {
    color: var(--red);
}

.width {
    width: 75%;
}

.p-fs {
    font-size: 1.25rem;
}

.small-image {
    top: -5em;
}

.w-40 {
    width: 40%;
}

#why-us .card {
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
    transition: transform .3s ease;
}

#why-us .card:hover {
    transform: translateY(-15px);
}

.bg-red {
    background-color: var(--red) !important;
}

#why-us {
    background: linear-gradient(#fff, #ffefe9);
}

#scope, #structure {
    background: linear-gradient(#fff, #ffefe9, #fff);
}

.w-7 {
    width: 7.5em;
}

.w-6 {
    width: 6rem;
}

.white-btn {
    background-color: #fff;
    color: var(--red);
    border: 1px solid #fff;
}

.transparent-btn {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.w-2 {
    width: 2em;
}

.fs-8 {
    font-size: 0.8rem;
}

#scope .card {
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
}

.accordion-button::after {
    background-image: url(../img/plus.svg) !important;
}

.accordion-button:not(.collapsed) {
    color: #000 !important;
    background-color: #fff !important;
}

.dark-bg {
    background-color: #1b1a20;
    box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
}

.rounded-structure {
    border-radius: 4em;
}

.structure-img {
    bottom: 9em;
    text-align: end;
    right: 2em;
}

.w-20 {
    width: 20%;
}

.red-star {
    width: 6em;
}

.left {
    left: -7em;
}

.slant-dots {
    bottom: -4.3em;
    text-align: end;
    z-index: -1;
}

.w-faq {
    width: 80%;
}

.w-10 {
    width: 10em;
}

.spiral {
    top: 5em;
    left: 8em;
}

footer a img {
    width: 2.6em;
}

.text-ash {
    color: #514949 !important;
}

.pointer {
    cursor: pointer !important;
}

.info-icon:active, .info-icon:hover, .info-icon:focus, .info-icon {
    border: none !important;
    outline: none !important;
}

.btn-close {
    background: url(../img/red-close-icon.svg) !important;
    opacity: 1 !important;
}

.btn-close:focus-visible {
    outline: none;
}


@media (max-width: 1025px) {
    .width {
        width: 100%;
    }

    .small-image {
        display: none;
    }
}

@media (max-width: 991px) {
    .header-right ul {
        display: none !important;
    }

    .mobile {
        display: block;
    }
}

@media (max-width: 510px) {
    .header-left {
        width: 50%;
    }

    .mobile {
        font-size: 0.6em;
    }

    .enroll {
        padding-left: 2rem !important;
    }

    .thumbs {
        top: -0.5em;
        padding: 0.3rem;
    }

    .width {
        width: 100%;
    }

    .p-fs {
        font-size: 1rem;
    }

    .red-star {
        width: 4em;
    }

    .w-faq {
        width: 100%;
    }
}